
.top {
  a {
    color: white;
  }
  span {
    padding-left: 20px;
    //background-color: green;
  }
  //  background-color: ;
  }
.under-top {
  height: 60px;
}

.flex-parent-element {
  display: flex;
  width: 90%;
}

.flex-child-element {
  flex: 6;
  border: 2px solid blueviolet;
  margin: 10px;
}

.flex-child-element:first-child {
  flex: 1;
  margin-right: 20px;
}

.first {
  width: 400px;
}
